body {
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 500px;
    margin: 20px 0;
}

#status, #geofence-alert, #messages {
    margin: 10px 0;
}

#lat, #lng, #set-marker, #message, #send-message {
    margin-top: 10px;
}
